<a href="https://colab.research.google.com/github/gunkwak/class_bigdata/blob/main/%EA%B3%BD%EA%B1%B44%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4강과제

- 6주차

In [65]:
import pandas as pd

In [66]:
a = pd.Series([1, 23, 456, 7890])

-> pd.Series 에서 대문자 S로 기입해야 제대로 입력되니 유의.

In [67]:
a

0       1
1      23
2     456
3    7890
dtype: int64

In [68]:
x = pd.Series([1, 23, 456, 7890], index=['A','B','C','D'])

In [69]:
x

A       1
B      23
C     456
D    7890
dtype: int64

In [70]:
x [['B','D']]

B      23
D    7890
dtype: int64

In [71]:
x.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [72]:
x.values

array([   1,   23,  456, 7890])

In [73]:
print(sorted(x.index))

['A', 'B', 'C', 'D']

In [74]:
print(sorted(x.values))

[1, 23, 456, 7890]

In [75]:
y = pd.Series([1, 23, 456, 7890], index=['dog', 'cat', 'pandas', 'turtle'])

In [76]:
z = pd.Series([1, 23, 456, 7890], index=['소나무', '개나리', '상수리나무', '무궁화'])

In [77]:
sorted(y.index)

['cat', 'dog', 'pandas', 'turtle']

In [78]:
sorted(z.index)

['개나리', '무궁화', '상수리나무', '소나무']

In [79]:
y.reindex(sorted(y.index))

cat         23
dog          1
pandas     456
turtle    7890
dtype: int64

In [80]:
z.reindex(sorted(z.index))

개나리        23
무궁화      7890
상수리나무     456
소나무         1
dtype: int64

- 한글또한 순서에 따라 바꿔줄 수 있음을 확인.

In [81]:
x = pd.Series([5, 7, 12, 60], index = ['소나무', '개나리', '상수리나무', '무궁화'])
y = pd.Series([38, 57, 2, 14], index = ['무궁화', '소나무', '개나리', '상수리나무'])

In [82]:
x+y

개나리       9
무궁화      98
상수리나무    26
소나무      62
dtype: int64

In [83]:
x*y

개나리        14
무궁화      2280
상수리나무     168
소나무       285
dtype: int64

In [84]:
x/y

개나리      3.500000
무궁화      1.578947
상수리나무    0.857143
소나무      0.087719
dtype: float64

In [85]:
val = [2,4,5,1,2,3,6,23,1]
x=pd.Series(val)
pd.unique(x)

array([ 2,  4,  5,  1,  3,  6, 23])

In [86]:
age = {'현모':26,'동준':23, '지민':22, '재현':27}

In [87]:
pdata = pd.Series(age)

In [88]:
pdata

현모    26
동준    23
지민    22
재현    27
dtype: int64

In [89]:
names = ['현모','동준','지민','재현','현민','주열','승기','건우','현식']
pdata = pd.Series(names)
pdata

0    현모
1    동준
2    지민
3    재현
4    현민
5    주열
6    승기
7    건우
8    현식
dtype: object

In [90]:
a=pdata[0:8]

In [91]:
print(a)

0    현모
1    동준
2    지민
3    재현
4    현민
5    주열
6    승기
7    건우
dtype: object

In [92]:
a=pdata[-1:8]

In [93]:
a

Series([], dtype: object)

In [94]:
a=pdata[0:100]

In [95]:
a

0    현모
1    동준
2    지민
3    재현
4    현민
5    주열
6    승기
7    건우
8    현식
dtype: object

In [96]:
data = { 'age': [26, 58, 32, 46], 'name': ['곽건', '정용택', '백효찬', '박학순'], 'height': [175.3, 180.3, 165.8, 172.7] }

In [97]:
data

{'age': [26, 58, 32, 46],
 'height': [175.3, 180.3, 165.8, 172.7],
 'name': ['곽건', '정용택', '백효찬', '박학순']}

In [98]:
x = pd.DataFrame(data)
x

   age name  height
0   26   곽건   175.3
1   58  정용택   180.3
2   32  백효찬   165.8
3   46  박학순   172.7

In [99]:
x = pd.DataFrame(columns =['name','age','height'])
x

Empty DataFrame
Columns: [name, age, height]
Index: []

In [100]:
x = pd.DataFrame(data, columns =['name','age','height'])
x

  name  age  height
0   곽건   26   175.3
1  정용택   58   180.3
2  백효찬   32   165.8
3  박학순   46   172.7

In [101]:
x.name

0     곽건
1    정용택
2    백효찬
3    박학순
Name: name, dtype: object

In [102]:
ary = [[1,3],[5,7,], [8,4]]
data = pd.DataFrame(ary)
data

   0  1
0  1  3
1  5  7
2  8  4

In [103]:
ary = [[1,3,2],[5,7,6], [8,4,3],[2,1,5]]
data = pd.DataFrame(ary, columns=['First', 'Second','third'])
data

   First  Second  third
0      1       3      2
1      5       7      6
2      8       4      3
3      2       1      5

In [104]:
data.iloc[3]

First     2
Second    1
third     5
Name: 3, dtype: int64

In [111]:
data.iloc[:,0]

0    1
1    5
2    8
3    2
4    3
5    2
6    7
Name: First, dtype: int64

In [105]:
ary = [[1,3],[5,7], [8,4],[2,1],[3,6],[2,3],[7,5]]
data = pd.DataFrame(ary, columns=['First', 'Second'])
data

   First  Second
0      1       3
1      5       7
2      8       4
3      2       1
4      3       6
5      2       3
6      7       5

In [106]:
data.head()

   First  Second
0      1       3
1      5       7
2      8       4
3      2       1
4      3       6

In [107]:
data.head(2)

   First  Second
0      1       3
1      5       7

In [108]:
data.tail(3)

   First  Second
4      3       6
5      2       3
6      7       5

In [112]:
ary = [[1,3],[5,7], [8,4],[2,1],[3,6],[2,3],[7,5]]
data = pd.DataFrame(ary, columns=['First', 'Second'])
data

   First  Second
0      1       3
1      5       7
2      8       4
3      2       1
4      3       6
5      2       3
6      7       5

In [115]:
bools = [False, True, False, False, True, True, False]
data[bools]

   First  Second
1      5       7
4      3       6
5      2       3

In [117]:
bools = [False, True, False, False, True, True, False]
data.First[bools]

1    5
4    3
5    2
Name: First, dtype: int64

In [118]:
data = { 'age': [26, 58, 32, 46], 'name': ['곽건', '정용택', '백효찬', '박학순'], 'height': [175.3, 180.3, 165.8, 172.7] }
x = pd.DataFrame(data,columns = ['name', 'age', 'height'])
x

  name  age  height
0   곽건   26   175.3
1  정용택   58   180.3
2  백효찬   32   165.8
3  박학순   46   172.7

In [119]:
x.mean(axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

age        40.500
height    173.525
dtype: float64

In [120]:
x.mean(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0    100.65
1    119.15
2     98.90
3    109.35
dtype: float64

In [121]:
ary = [[1,3],[5,7], [8,4],[2,1],[3,6],[2,3],[7,5]]
data = pd.DataFrame(ary, columns=['First', 'Second'])
data

   First  Second
0      1       3
1      5       7
2      8       4
3      2       1
4      3       6
5      2       3
6      7       5

In [123]:
data['First'] = data['First'].astype('float')
data

   First  Second
0    1.0       3
1    5.0       7
2    8.0       4
3    2.0       1
4    3.0       6
5    2.0       3
6    7.0       5

In [142]:
dir='/content/sample_data/goyang_jeontong.csv'

In [143]:
accident_data = pd.read_csv(dir, encoding='CP949')

FileNotFoundError: ignored

- csv 파일 가져오기에서 파일 경로 설정하는법을 모르겠음!

7주차

In [144]:
"hello world"

'hello world'

In [145]:
'heollo world'

'heollo world'

In [147]:
"""hello world"""

'hello world'

In [148]:
'''hello world'''

'hello world'

In [149]:
string_ex="it's goold"
string_ex

"it's goold"

In [150]:
string_ex='it's good''
string_ex

SyntaxError: ignored

In [151]:
string_ex='"hello". He said'
string_ex

'"hello". He said'

In [152]:
string_ex=""hello", He said"
string_ex

SyntaxError: ignored

In [153]:
string_ex="it\'s good"
string_ex

"it's good"

In [156]:
string_ex='it\'s good'
string_ex

"it's good"

In [160]:
string_ex='\"hello\"/ he said'
string_ex

'"hello"/ he said'

In [161]:
string_ex="\"hello\". He said"
string_ex

'"hello". He said'

In [163]:
string_ex='''hello
Bye
hello Again!
'''
print(string_ex)

hello
Bye
hello Again!

In [165]:
string_ex='Hello\nBye\nhello Again!'
print(string_ex)

Hello
Bye
hello Again!

In [166]:
a="hello"
b=" world"
c=a+b
print(c)

hello world

In [168]:
a="hello"
b=" world. "
c=a+b
d=c*2
print(d)

hello world. hello world.

In [169]:
print('='*10)
print('='*20)

==========
====================

In [170]:
print('='*50)
print('Result: ')
print('='*50)

==================================================
Result:
==================================================

In [171]:
a = 'Hello World'
len(a)

11

In [172]:
a = 'Hello World'
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])
print(a[7])
print(a[8])
print(a[9])
print(a[10])

H
e
l
l
o

W
o
r
l
d

In [173]:
a = 'Hello World'
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])
print(a[-6])
print(a[-7])
print(a[-8])
print(a[-9])
print(a[-10])
print(a[-11])

d
l
r
o
W

o
l
l
e
H

In [176]:
a = 'Hello World'
left_part=a[:5]
print(left_part)
second_part=a[5:]
print(second_part)

Hello
 World

In [177]:
a="I am %d years old." % 30
print (a)

I am 30 years old.

In [178]:
a="I am %d years old." % 29
print (a)

I am 29 years old.

In [180]:
myage=29
hisage=30
a="i am %d years old. he is %d years old." % (myage,hisage)
print(a)

i am 29 years old. he is 30 years old.

In [181]:
name='Youn Doh Ha'
a="My name is %s." % (name)
print(a)

My name is Youn Doh Ha.

In [182]:
a="Error is %f%" %98.3
print(a)

ValueError: ignored

In [183]:
a="Error is %f%%" %98.3
print(a)

Error is 98.300000%

In [184]:
a = "%10s. Hello" % 'hi'
print(a)

        hi. Hello

In [185]:
a="%-10s. Hello" % 'hi'
print(a)

hi        . Hello